.App {
  text-align: center;
  /* background-color: #6CB4EE; */
  background-image: url('https://wallpaperaccess.com/full/1801911.jpg');
  background-size: cover;
  background-position: center;
}


/* modifying the navigation bar from header component */
.navStyle {
  background-color:#C0C0C0;
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 8px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

/* make the tab that the user clicks on in the nav bar active */
.navStyle a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.navStyle a:focus,
.navStyle a:active {
  color: #fff;
  background-color: #7CB9E8;
  border-color: #7CB9E8;
}

.navStyle a:hover {
  color: #7CB9E8;
  border-color: #7CB9E8;
}




/* modifying the about info from the about.js */
.aboutInfo{
  background-color: rgba(238, 219, 0, 0.7);
  justify-content: space-around;
  border: 3px solid black;
  padding: 8px;
  width: 60%;
  margin: auto;
}

#aboutBio{
  text-align: left;
}


/* adding text over the home image */
.homeImage {
  position: relative;
  width: 100%;
  height: auto;
}

#textOverHomeImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 40px;
  text-align: center;
}


/* making the project information to be cards https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:50%;
  margin: auto;
  background-color: rgba(238, 219, 0, 0.7);
  border: 3px solid black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.projectContainer {
  padding: 2px 16px;
}

/* make the project image responsive */
.projectImage{
  max-width: 100%;
  height: auto;
}


.headerText{
  color:white;
}



.footer a{
  margin-right: 20px;
}

.footer {
  background-color:#C0C0C0;
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 8px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

